body {
    width: 500px;
}

#title {
    font-family: sans-serif;
    font-size: 2em;
    margin-left: 30px;
    background-color: #660066;
    color:white;
    font-weight: bold;
}

#description {
    font-family: sans-serif;
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-left: 30px;;
}

#header {
    font-family: sans-serif;
    margin-bottom: 10px;
    font-size: 0.8em;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-left: 30px;;
}

#entry {
    font-family: serif;
    margin-left: 50px;
    border-bottom: 1px dotted;
    padding-bottom: 10px;
}