
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>musicismath</title>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<div id="title">Music is Math</div>
<div id="left">
  <div id="description">Programming and other stuff</div>
  <div id="header">
    I currently like programming in python, java, and matlab<br />
    You can find me on <a href="http://www.pinboard.in/u:dhartunian">pinboard</a>, <a href="http://www.github.com/dhartunian">github</a>, and <a href="http://www.linkedin.com/in/dhartunian">linkedin</a>
  </div>
</div>
<div id="right">
  {{ content }}
</div>
</body>
</html>

