
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>musicismath</title>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
<link rel="stylesheet" type="text/css" href="/css/pygments.css"/>
</head>
<body>
<div id="title"><a href="{{ site.url }}">Music is Math</a></div>
<div id="left">
  <div id="description">Programming and other stuff</div>
  <div id="header">
    <p>Welcome to my blog, I'll be writing about programming-related topics.</p>
    <p>You can find me on <a href="http://www.pinboard.in/u:dhartunian">pinboard</a>, <a href="http://www.github.com/dhartunian">github</a>, and <a href="http://www.linkedin.com/in/dhartunian">linkedin</a></p>
  </div>
</div>
<div id="right">
  {{ content }}
</div>
</body>
</html>

